.center-content-area {
  position: absolute;
  top: 7rem;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.landing-home-tagline-area {
  text-align: center;
  max-width: 60rem;
}

.landing-home-tagline {
  font-size: 5.2rem;
  line-height: 6rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: 0;
}

.landing-home-subtitle {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 400;
}

.landing-home-video {
  width: 60%;
}
