nav {
  position: absolute;
  right: 0;
}

ul {
  list-style: none;
  display: flex;
}

li {
  padding-right: 3rem;
}

a.nav-bar-menu-item {
  text-decoration: none;
  cursor: pointer;
  font-size: 1.3rem;
  color: black;
}

a.nav-bar-menu-item:hover {
  text-decoration: underline;
}

.landing-navbar {
  display: flex;
  padding: 2rem;
}

.landing-navbar-logo {
  position: absolute;
  cursor: pointer;
}
