.landing-home-center-content-area {
  padding-top: 5rem;
}

.landing-demo-editor {
  font-size: 1.4em;
}

.landing-demo-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.landing-demo-smart-option {
  padding-left: 2rem;
  padding-right: 2rem;
}

.landing-demo-ms-icon {
  padding-left: 1rem;
  padding-right: 1rem;
}
