.container {
  overflow: hidden; /* clear float */
  padding-left: 20%;
  padding-right: 20%;
}

.settings-area,
.editor-area {
  display: inline-block;
  vertical-align: top;
}

.settings-area {
  float: left;
  padding: 1em;
}

.editor-area {
  float: right;
  width: 60%;
  padding: 1em;
}

.generate-button {
  padding-top: 1em;
  padding-bottom: 1em;
}

.editor {
  font-size: 1.3em;
}
