.settings-area,
.editor-area {
  display: inline-block;
  vertical-align: top;
}

.settings-area {
  float: left;
}

.editor-area {
  float: right;

  padding-top: 5rem;
}

.generate-button {
  padding-top: 1em;
  padding-bottom: 1em;
}

.editor {
  font-size: 1.3em;
  width: 100%;
}

.campaign-header {
  padding-bottom: 0.5em;
}
