.branding {
  float: right;
  padding-right: 10rem;
  padding-top: 17%;
}

.link {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.header {
  font-size: 3em;
}

.home-tagline {
  text-align: center;
}

.container {
  width: 100%;
}
