.container {
  overflow: hidden; /* clear float */
}

.home-links-area {
  float: left;
  padding-top: 15rem;
}

.branding {
  padding-top: 15rem;
  padding-right: 5%;
  padding-left: 5%;
  float: right;
}

.link {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.header {
  font-size: 3em;
}

.home-tagline {
  text-align: center;
}
