.container {
  overflow: hidden; /* clear float */
}

.settings-area,
.donor-area {
  display: inline-block;
  vertical-align: top;
}

.settings-area {
  float: left;
  width: 30%;
}

.donor-area {
  width: 62%;
  float: right;
  height: 45em;
  overflow: scroll;
  overflow-x: hidden;
}

.campaign-header {
  padding-bottom: 0.5em;
}
