.container {
  height: 40rem;
}

.donor-area {
  display: inline-block;
  vertical-align: top;
}

.donor-area {
  width: 62%;
  float: right;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.campaign-header {
  padding-bottom: 0.5em;
}

.instructions-area {
  width: 15rem;
}
