.left-sidebar-wrapper {
  float: left;
  direction: rtl;
  height: 40rem;
  overflow-y: auto;
  padding-left: 2rem;
  width: 20rem;
}

.left-sidebar {
  direction: ltr;
}

.has-top-padding {
  padding-top: 17%;
}

h1 {
  line-height: 2.5rem;
}
